// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Project Colors
$main-pink: #C82586;
$dark-pink:  rgba(194, 32, 128, 0.9);
$darker-pink: rgba(160, 26, 106, 0.9);
$main-gray: #F7F7F8;
$dark-gray: #dddddd;
$main-blue: #291F71;
$light-blue: #0BCCDA;
$dark-blue: #089ca7;
$main-gradient: linear-gradient(105.61deg, #291F71 -10.09%, #C82586 125.3%);
