<body class="new-cocktail-body">
  <div class="container">
    <h1 class="create-title">Create a Cocktail</h1>
    <div class="cocktail-name-card mt-3 p-4">
      <%= simple_form_for(@cocktail) do |f| %>
        <div class="cocktail-name-label">
          <p><%= f.input :name, label: "Cocktail Name" %></p>
        </div>
        <div class="buttons-new text-right">
          <%= link_to 'Back', cocktails_path(@cocktail), class: "back-btn btn btn-outline-primary" %>
          <%= f.submit class: "create-btn"  %>
        <% end %>
        </div>
    </div>
  </div>
</body>
