// Show page
.show-body {
  background: $main-gradient;
  height: 100vh;
}

.glass-card-white {
  margin: 7em 0px;
  background: rgba( 255, 255, 255, 0.55 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7.0px );
  -webkit-backdrop-filter: blur( 7.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

h1.drink-name {
  font-family: $poppins;
  font-weight: 600;
  text-align: center;
}

.drink-image {
  max-width: 500px;
  display: flex;
  justify-content: center;
  border: 2px solid #dadada;
    border-radius: 7px;
}