  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <nav class="navbar navbar-expand-lg navbar-light">
      <%= link_to "#", class: "navbar-brand" do %>
        <div><%= image_tag "https://res.cloudinary.com/dd7bkl8rd/image/upload/v1627056775/Icon_ox3tvb.png", class: 'logo'%></div>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav justify-text-center ml-3">
          <li class="nav-item active">
            <a class="nav-link mr-3" href="/cocktails#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link mr-3" href="/cocktails#">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mr-3" href="/cocktails/new">Create</a>
          </li>
        </ul>
      </div>
    </nav>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>