$main-pink: #C82586;
$dark-pink:  rgba(194, 32, 128, 0.9);
$main-gray: #F7F7F8;
$light-blue: #0BCCDA;
$dark-blue: #089ca7;
$main-blue: #291F71;
$main-gradient: linear-gradient(105.61deg, #291F71 -10.09%, #C82586 125.3%);