// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Breakpoints // Smaller Screens
@media only screen and (min-width: 0) and (max-width: 600px) {
  h1.title {
    margin-left: 25px;
    font-size: 210%;
    margin-bottom: 20px;
  }
  .header__menu {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 1em;
    align-content: flex-end;
  }
  .header__menu svg {
    width: 32px;
    fill: #E0E0E0;
    align-content: flex-end;
  }
  .banner {
    padding: 50% 0 !important;
  }
  h5.subtitle {
    font-size: 100%;
  }

  .neon-drink-img {
    display: none;
  }

  .main-btn { 
    margin-left: 0 !important;
    min-width: 48px;
  }
  .main-btn-div {
    display: flex;
    align-content: center;
    justify-content: center;
  }

}

// Breakpoints // Medium-size Screens
@media screen and (min-width: 601px) and (max-width:1200px) {
  h1.title {
    font-size: 270%;
  }

  h5.subtitle {
    font-size: 160%;
  }

  .neon-drink-img {
    display: none;
  }

  .main-btn {
    padding: 1em !important;
  }
}



//---HOME PAGE---//
// Home Page Navbar

.navbar-lewagon .navbar-brand img {
  width: 115px;
}

.logo {
  height: 80px;
}

.navbar {
  background-color: rgb(16, 6, 20);
  height: 80px;
  padding: 0px;
}

#navbarNav {
  color: #FFFFFF;
}

.nav-item {
  color: white;
}

a.nav-link {
  color: white !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  &:hover {
    text-decoration: underline;
  }
}

// Home Page Banner
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.title {
  margin-left: 25px;
  font-size: 4em;
  margin-bottom: 20px;
}

.subtitle {
  margin-left: 30px;
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 30px;
}

.neon-drink-img {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 80%;
  padding-bottom: 5%;
  padding-left: 5%;
}

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(https://freight.cargo.site/t/original/i/81f2323225fbf49d97c08dbdae5c0fc0d274420fb01010c3269b7745969b9ddf/MOOD-RING-wallpaper-2x1-02.jpg);
  background-size: cover;
  background-position: center;
  padding: 250px 0;
}

.main-btn {
  background-color: #0db3f4;
  margin-left: 30px;
  border-radius: 25px;
  padding: 0.8em;
  box-shadow: 5px 10px 18px #252525;
  color: #FFFFFF !important;
  outline: 0;
  position: relative;
  display: inline-block;
  padding: 10px 40px;
  font-size: 20px;
  overflow: hidden;
  cursor: pointer;
  // border: 2px solid #FFFF00;
  // background: #FFFF00;
  color: #000;
  font-weight: 600;
  transition: box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out;
}

.main-btn:hover {
  margin-left: 30px;
  border-radius: 25px;
  background-color: #0d71f4;
  color: #000;
  box-shadow: 0 0 5px #0d71f4,
}

// Home Page Body

.home-body {
  background: -webkit-linear-gradient(to right top, #6b2cf5, #d450e6); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right top, #6b2cf5, #d450e6);
  color: #FFFFFF;
}
// ------ //

// --- New Cocktail Page === //

// Page Body
.new-cocktail-body {
  background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(https://external-preview.redd.it/HEvfZd4nw9klrp11A9CdJZEIsw3oTQTPHqLerR9m27w.jpg?auto=webp&s=e18968e50b4a696bb17fe9fe55dc3bc1ed799ee0);
  background-size: cover;
  background-position: center;
  padding: 250px 0;
}

.cocktail-name-label {
  color: white;
}

.create-button {
  background-color: #ee3ef1;
}

.create-button:hover {
  background-color: #a92bac;
}

.see-all-links {
margin-left: 235px;

}