// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "config/fonts";
@import "config/colors";
@import "components/index";
@import "components/navbar";
@import "components/footer";
// Pages
@import "pages/index";
@import "pages/home";
@import "pages/new";
@import "pages/show";

// Breakpoints // Smaller Screens
@media only screen and (min-width: 0) and (max-width: 600px) {
  h1.title {
    margin-left: 25px;
    font-size: 210%;
    margin-bottom: 20px;
  }
  .header__menu {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 1em;
    align-content: flex-end;
  }
  .header__menu svg {
    width: 32px;
    fill: #E0E0E0;
    align-content: flex-end;
  }
  .banner {
    padding: 50% 0 !important;
  }
  h5.subtitle {
    font-size: 100%;
  }

  .neon-drink-img {
    display: none;
  }

  .main-btn { 
    margin-left: 0 !important;
    min-width: 48px;
  }
  .main-btn-div {
    display: flex;
    align-content: center;
    justify-content: center;
  }

}

// Breakpoints // Medium-size Screens
@media screen and (min-width: 601px) and (max-width:1200px) {
  h1.title {
    font-size: 270%;
  }

  h5.subtitle {
    font-size: 160%;
  }

  .neon-drink-img {
    display: none;
  }

  .main-btn {
    padding: 1em !important;
  }
}

